*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height:90px;
    background-color: rgb(100, 100, 240);
    display:flex;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    position: relative;
    position: sticky;
    top: 0px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;  
}
.navebar{
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}
.navebar li{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: white;
}
.search{
background-color: white;
    height:45px;
    width: 700px;
    display: flex;
    position: relative;
    border-radius: 5px;
}
.search input{
    width: 100%;
    border:none;
    border-radius:5px;
    font-size: 15px;
    outline: none;
}
.search button{
    width: 50px;
    height: 100%;
    background-color: transparent;
    border:none;
    left: 0px;
    cursor: pointer;
    font-size: 20px;
}
.search button i{
    color:gray;
    font-size: 18px;
}

.logo{
   margin-left: 100px;
    font-size:30px;
    color:white;
}
.shop{
    margin-left: 50px;
    color:white;
    font-size: 18px;
    padding: 10px;
}
.shop i{
    font-size: 15px;
}
.shop:hover .dropdown{
    visibility: visible;
}
 .dropdown li:hover{
    color: gray;
}
.user i{
    margin-right: 100px;
    font-size: 40px;
    color: white;
    position: relative;
}
.cart{
    position: relative;
}
.cart i{
    font-size: 35px;
    color: white;
}
.cart .cart-count{
    position: absolute;
    top:-10px;right: -10px;
    border-radius: 50%;
    width: 17px;
    height: 20px;
    text-align: center;
    background-color:#5bB507;
}


/* Dropdown */
.dropdown{
    position: absolute;
    top: 68px;
    width: 170px;
    align-items: center;
    background-color:white;
    visibility:hidden;
    z-index: 99;
}
.dropdown li{
    font-size: 17px;
    padding: 5px;
    text-align:left;
    color:#5bB507;
}
.nutri-item{
    background-color:white;
    padding: 5px;
    width: 350px;
    color: black;
    position: absolute;
    left: 175px;
    top: 0px;
    visibility:hidden;
    transition: all;
}
.nutri-item li{
    float:left;
    margin-left: 160px;
   
}
.nutri-brand:hover .nutri-item{
visibility: visible;
transition: all;
}

.small-contain{
    width: 150px;
    background-color: #5bB507;
    height: 200px;
}

.my-item{
    background-color:white;
    padding: 5px;
    width: 350px;
    color: black;
    position: absolute;
    left: 170px;
    top: 0px;
    visibility:hidden;
    transition: all;
}
.my-item li{
    float:left;
    margin-left: 160px;
   
}
.my-brand:hover .my-item{
visibility: visible;
transition: all;
}
/* banner */
.banner{
    width: 100%;
    height: 500px;
    background-color: aqua;
    margin-bottom: 5px;
}

.banner img{
    width: 100%;
    height: 100%;
}

.product{
    background-color: rgb(48, 132, 216);
    height: 50px;
    margin-bottom: 15px;
}
.product h1{
   
    color: white;
    text-align: center;
}
.item{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 50px;
}
.left{
    height: auto;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.left i{
    color: black;
}

.left .title {
    background-color: orange;
    text-align: center;
    color: white;
    padding: 10px;
}

.left h3{
    margin-left: 20px;
    margin-top: 20px;
}
.right{
    height:auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.box{
    width: 23%;
    height: 400px;
    background-color:rgb(100, 100, 240);
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    border: 1px solid gray;
    margin-left: 5px;
}
.box a{
    text-decoration: none;
    color: white;
}
.box:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.offer{
    position: absolute;
    height:20px;
    text-align: center;
    width: 90px;
    color: white;
    background-color: green;
    margin-top: 10PX;
    margin-left: 10PX;
    border-radius: 5PX;
    z-index:9;
}
.img{
    height: 280px;
    width: 100%;
    background-color:white;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}

.img img{
    width: 100%;
    height: 100%;
}
.img:hover img{
    transform: scale(1.3);
}
.content{
    
    margin-top: 5px;
}
.content h2{
    text-align: center;
    margin-top:5px;
    font-size: 18px;
}
.content h3{
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}
.content button{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-left: 60px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    font-weight: bold;
}



/* FOOTER */
.bottom{
    background-color: rgb(100, 100, 240);;
    height: 370px;
}
.footer{
    display: flex;
    justify-content: space-evenly;

}
.foot ,.foot-a{
    margin-top: 50px;
}
.foot h2{
    margin-bottom: 10px;
}
.foot-a h2{
    margin-bottom: 10px;
}
.foot a{
    font-size: 17px;
    text-decoration: none;
    color: white;
}

 .foot-a a, i { 
    font-size: 17px;
    text-decoration: none;
    color: white;
}
.foot a:hover , .foot-a a:hover , .icons i:hover{
    color: black;
}
.foot h2, .foot-a h2{
color: white;
border-bottom: 3px solid white;
width: 150px;
}

input[type=email] {
  outline: none;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color:transparent ;
}
::placeholder{
    color: rgb(219, 218, 218);
}
  #sign{
    background-color: white;
    padding: 12px 35px;
    color: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
  }
  #sign:hover{
    color: white;
    background-color:#5bB507;
    border: 1px solid white;
  }
.icons{
    margin-left: 160px;
}
  .icons i{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    transform: translate(1000px,40px);
  }
